<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="utilis.TestListener" />
</listeners>
   <test name="test scenarios">
  		<parameter name="browser" value="chrome" />
    	<classes>
    			<class name="tests.CheckOutTests"/>  
<!--            <class name="tests.RegistrationTest"/> 	      -->
				<class name="tests.MenuTests"/>
	 			<class name="tests.LoginTests"/> 
				<class name="tests.ProductTests"/>  
    	</classes> 
  </test>   	
</suite> <!-- Suite -->
